<div class="card mx-auto my-2" style="width: 80%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{titulo}}</h5>
    <p class="card-text">{{contenido}}</p>
    <p class="card-text">autor: {{autor}}</p>
    <p class="card-text">Categoria: {{categoria}}</p>
    <a href="" class="btn btn-primary">Ver más</a>
  </div>
</div>